#wall .tag-1{
  background: none;
}

#wall div#tag-2{
  background: none;
}

div#wall #tag-3.slick.wicked{
  background: none;
}

#wall .parent #tag-4 {
  background: none;
}

body div#wall .parent #tag-5.slick{
  display: none;
}

body div#wall div.parent div:last-child div#tag-6 {
  display: none;
}

html body div#wall div.parent div > #tag-7.slick {
  display:none;
}